<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/form-style.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />

        <title>Ingresá</title>
    </head>
    <body>
        <header class="header">
            <section class="header-top">
                <a href="./">
                    <img
                        class="logo"
                        src="/images/logo-mercado-liebre.svg"
                        alt="logo de Mercado Liebre"
                    />
                </a>

                <div class="search">
                    <input
                        type="search"
                        name="searchPrd"
                        id="searchPrd"
                        placeholder="Buscar productos, marcas"
                    />
                    <i class="fas fa-search"></i>
                </div>

                <p class="compra-tarjeta">
                    <i class="icon-top fas fa-hand-holding-usd"></i> Comprá en
                    cuotas y sin tarjeta de crédito
                </p>
            </section>

            <nav class="main-nav-bar">
                <ul class="main-nav-left">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="main-nav-right">
                    <li>
                        <a href="./register"
                            >Creá tu cuenta
                            <i class="icon-top far fa-id-card"></i
                        ></a>
                    </li>

                    <li>
                        <a href="./login"
                            >Ingresá <i class="icon-top fas fa-sign-in-alt"></i
                        ></a>
                    </li>
                    <li>
                        <a href=""
                            >Mis compras
                            <i class="icon-top fas fa-shopping-basket"></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <br />
        </header>
        <section class="banner"></section>
        <main>
            <form action="/" class="create-form">
                <div class="form-field">
                    <div class="data">
                        <input
                            type="text"
                            name="user-name"
                            id="user-name"
                            required
                        />
                        <label class="label-tag" for="user-name"
                            >Nombre de usuario</label
                        >
                    </div>
                    <div class="validation">
                        <span>elegir una fecha valida</span>
                    </div>
                </div>
                <div class="form-field">
                    <div class="data">
                        <input
                            type="password"
                            name="password"
                            id="password"
                            required
                        />
                        <label class="label-tag" for="password"
                            >Contraseña</label
                        >
                    </div>
                    <div class="validation">
                        <span>elegir una fecha valida</span>
                    </div>
                </div>

                <button type="submit">Entrar</button>
            </form>
        </main>
        <footer>
            <section>
                <div>
                    <i class="icon-bottom fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con
                        tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!
                    </p>
                </div>
                <div>
                    <i class="icon-bottom fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos
                        gratis en miles de productos. Es un beneficio de Mercado
                        Puntos.
                    </p>
                </div>
                <div>
                    <i class="icon-bottom fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada
                        que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
                <div>
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </section>
        </footer>
    </body>
</html>